<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Book</title>
    <link id="linkId" rel="stylesheet" type="text/css" media="all" href="../static/css/home-styles.css"/>
</head>
<body>
<div id="container">
    <h1 id="home-title">Welcome to Recipe Book</h1>
    <h3 id="home-subtitle">What would you like to do?</h3>
    <a id="click-recipe" href="#">Look for recipes</a>
    <a id="click-add-recipe" href="#">Add recipes</a>
    <footer id="footerId">© Copyright information</footer>
</div>
</body>
</html>